<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <title>Base Html</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/letterlogo.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
<div class="page-container">
  <header
  id="header"
  class="header d-flex align-items-center fixed-top {% block navbar_class %}bg-light{% endblock %}">
  <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <img src="{% static 'images/logo.png' %}" width="200px" alt="">
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'index' %}" class="active">Home</a></li>
        <li><a href="{% url 'all_events' %}">Events</a></li>
        <li><a href="{% url 'about' %}">About us</a></li>
        <li class="dropdown"><a href=""><span>Categories</span> <i
              class="bi bi-chevron-down toggle-dropdown"></i></a>
          <ul>
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'my_tickets' %}">My Tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart' %}">Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                </li>
            </ul>
            {% endif %}

      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>
  </div>
</header>
  <main class="main-content">
    {% block content %}

    {% endblock %}
  </main>
<footer id="footer" class="footer dark-background p-5">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename"><img src="{% static 'images/logo.png' %}" width="100px" alt=""></span>
          </a>
          <div class="footer-contact pt-3">
            <p>Nairobi, Kenya</p>
            <p class="mt-3"><strong>Phone:</strong> <span>+254 789 783969</span></p>
            <p><strong>Email:</strong> <span>events@info.ac.ke</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="ri-twitter-x-fill"></i></a>
            <a href=""><i class="ri-facebook-circle-fill"></i></a>
            <a href=""><i class="ri-instagram-line"></i></a>
            <a href=""><i class="ri-linkedin-fill"></i></a>
          </div>
        </div>
         <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Browse events</a></li>
            <li><a href="#">My Tickets</a></li>
            <li><a href="#">Categories</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Customer Support</h4>
          <ul>
            <li><a href="#">Help Center</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Refund Policy</a></li>
            <li><a href="#">Ticket Exchange Policy</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our offers and new events!</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>
  </footer>
</div>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>