*{
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
}
a{
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}
.bg-light {
    background-color: #ff851a !important; /* Default background for non-index pages */
}

.header-transparent {
    background-color: transparent !important; /* Transparent navbar for index page */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.header.scrolled {
    background-color: #ff851a !important; /* Color on scroll for the index page */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow */
    color: white;
}
.header.scrolled ul li a{
  color: white;
}
.buy-ticket {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff851a;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: auto; /* Push button to the bottom of the card */
}
.buy-ticket:hover {
  background-color: rgba(255, 133, 26, 0.8);
}
/* Desktop Navigation */
@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }
  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu>ul>li {
    white-space: nowrap;
    padding: 15px 14px;
  }

  .navmenu>ul>li:last-child {
    padding-right: 0;
  }

  .navmenu a,
  .navmenu a:focus {
    color: color-mix(in srgb, #ffffff, transparent 20%);
    font-size: 15px;
    padding: 0 2px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu>ul>li>a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #ff851a;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover>a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 25px;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: #ffffff;
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: black;
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: black;
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}

@media (min-width: 1200px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navmenu li {
    position: relative;
  }

  .navmenu>ul>li {
    white-space: nowrap;
    padding: 15px 14px;
  }

  .navmenu>ul>li:last-child {
    padding-right: 0;
  }

  .navmenu a,
  .navmenu a:focus {
    color: color-mix(in srgb, #ffffff, transparent 20%);
    font-size: 15px;
    padding: 0 2px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu>ul>li>a:before {
    content: "";
    position: absolute;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #ff851a;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }

  .navmenu a:hover:before,
  .navmenu li:hover>a:before,
  .navmenu .active:before {
    visibility: visible;
    width: 25px;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: #ffffff;
  }

  .navmenu .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background-color: #ff851a;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }

  .navmenu .dropdown ul li {
    min-width: 200px;
  }

  .navmenu .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: white;
  }

  .navmenu .dropdown ul a i {
    font-size: 12px;
  }

  .navmenu .dropdown ul a:hover,
  .navmenu .dropdown ul .active:hover,
  .navmenu .dropdown ul li:hover>a {
    color: black;
  }

  .navmenu .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navmenu .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
  }

  .navmenu .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
  }
}

/* Mobile Navigation */
@media (max-width: 1199px) {
  .mobile-nav-toggle {
    color: #ffffff;
    font-size: 28px;
    line-height: 0;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navmenu {
    padding: 0;
    z-index: 9997;
  }

  .navmenu ul {
    display: none;
    list-style: none;
    position: absolute;
    inset: 60px 20px 20px 20px;
    padding: 10px 0;
    margin: 0;
    border-radius: 6px;
    border: 1px solid color-mix(in srgb, #444444, transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navmenu a,
  .navmenu a:focus {
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.3s;
    background-color: color-mix(in srgb, #ff851a, transparent 90%);
  }

  .navmenu a i:hover,
  .navmenu a:focus i:hover {
    background-color: #ff851a;
    color: #ffffff;
  }

  .navmenu a:hover,
  .navmenu .active,
  .navmenu .active:focus {
    color: #ffffff;
  }

  .navmenu .active i,
  .navmenu .active:focus i {
    background-color: #ff851a;
    color: #ffffff;
    transform: rotate(180deg);
  }

  .navmenu .dropdown ul {
    position: static;
    display: none;
    z-index: 99;
    padding: 10px 0;
    margin: 10px 20px;
    background-color:#ff851a;
    transition: all 0.5s ease-in-out;
  }

  .navmenu .dropdown ul ul {
    background-color: rgba(33, 37, 41, 0.1);
  }

  .navmenu .dropdown>.dropdown-active {
    display: block;
    background-color: rgba(33, 37, 41, 0.03);
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .mobile-nav-toggle {
    color: #fff;
    position: absolute;
    font-size: 32px;
    top: 15px;
    right: 15px;
    margin-right: 0;
    z-index: 9999;
  }

  .mobile-nav-active .navmenu {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8);
    transition: 0.3s;
  }

  .mobile-nav-active .navmenu>ul {
    display: block;
  }
}
.footer .footer-top {
  padding-top: 50px;
  border-top: 1px solid color-mix(in srgb, #444444, transparent 90%);
}

.footer .footer-about .logo {
  line-height: 1;
  margin-bottom: 25px;
}

.footer .footer-about .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-about .logo span {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  color: #ffffff;
}

.footer .footer-about p {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid color-mix(in srgb, #444444, transparent 50%);
  font-size: 16px;
  color: color-mix(in srgb, #444444, transparent 30%);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #ff851a;
  border-color: #ff851a;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: color-mix(in srgb, #444444, transparent 30%);
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #ff851a;
}

.footer .footer-contact p {
  margin-bottom: 5px;
}
.footer .footer-newsletter .newsletter-form {
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 6px 8px;
  position: relative;
  border-radius: 4px;
  border: 1px solid color-mix(in srgb, #444444, transparent 80%);
  display: flex;
  background-color: #ffffff;
  transition: 0.3s;
}

.footer .footer-newsletter .newsletter-form:focus-within {
  border-color: #000000;
}

.footer .footer-newsletter .newsletter-form input[type=email] {
  border: 0;
  padding: 4px;
  width: 100%;
  background-color: #ffffff;
  color: #444444;
}

.footer .footer-newsletter .newsletter-form input[type=email]:focus-visible {
  outline: none;
}

.footer .footer-newsletter .newsletter-form input[type=submit] {
  border: 0;
  font-size: 16px;
  padding: 0 20px;
  margin: -7px -8px -7px 0;
  background: #000000;
  color: #ffffff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

.footer .footer-newsletter .newsletter-form input[type=submit]:hover {
  background: color-mix(in srgb, #ff851a, transparent 20%);
  color: white;
}
/*INDEX HTML*/
.hero {
  width: 100%;
  min-height: 70vh;
  position: relative;
  padding: 120px 0 120px 0;
  display: flex;
  align-items: center;
}

.hero .hero-bg {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 1;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, #000000, transparent 40%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h1 {
  margin: 0 0 20px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: color-mix(in srgb, #ffffff, transparent 30%);
}

.hero h1 span {
  color: #ffffff;
  border-bottom: 4px solid #ff851a;
}

.hero p {
  color: color-mix(in srgb, #ffffff, transparent 30%);
  margin: 5px 0 30px 0;
  font-size: 22px;
  font-weight: 400;
}

.hero .btn-get-started {
  color: #ffffff;
  background: #ff851a;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 12px 28px;
  border-radius: 50px;
  transition: 0.5s;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.hero .btn-get-started:hover {
  color: #ffffff;
  background: color-mix(in srgb, #ff851a, transparent 15%);
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #444444;
  font-weight: 600;
}

.hero .btn-watch-video i {
  color: #ff851a;
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

.hero .btn-watch-video:hover {
  color: #ff851a;
}

.hero .btn-watch-video:hover i {
  color: color-mix(in srgb, #ff851a, transparent 15%);
}

.hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 640px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 13px;
  }
}

.hero .hero-waves {
  display: block;
  width: 100%;
  height: 60px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.hero .wave1 use {
  animation: move-forever1 10s linear infinite;
  animation-delay: -2s;
  fill: #444444;
  opacity: 0.6;
}

.hero .wave2 use {
  animation: move-forever2 8s linear infinite;
  animation-delay: -2s;
  fill: #444444;
  opacity: 0.4;
}

.hero .wave3 use {
  animation: move-forever3 6s linear infinite;
  animation-delay: -2s;
  fill: #444444;
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }

  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }

  100% {
    transform: translate(85px, 0%);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}
.company-scroll {
  margin-top: 15px;
  overflow: hidden;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px 0;
}

.company-track {
  display: flex;
  justify-content: center;
  gap: 20px;
  animation: scroll 10s linear infinite;
}

.company-track img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/*about*/
.about .icon-box {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure even spacing for content */
  transition: all 0.3s ease-out;
  height: 100%;
}

.about .icon-box .event-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.about .icon-box h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0;
}

.about .icon-box p {
  font-size: 14px;
  margin: 10px 0 20px;
}

.about .icon-box .btn.buy-ticket {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff851a;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: auto; /* Push button to the bottom of the card */
}
.about .icon-box .btn.buy-ticket:hover {
  background-color: rgba(255, 133, 26, 0.8);
}
/* Full width for small screens */
@media (max-width: 576px) {
  .row-cols-1 .col,
  .icon-box {
    width: 100%;
  }
}

/* Four cards in one row for larger screens */
@media (min-width: 992px) {
  .row-cols-lg-4 .col {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Event Cards Grid Spacing */
.row-cols-1,
.row-cols-md-2,
.row-cols-lg-4 {
  gap: 20px;
}

/* Adjust grid for tablets */
@media (max-width: 768px) {
  .row-cols-lg-4 > .col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Adjust grid for mobile */
@media (max-width: 576px) {
  .row-cols-md-2 > .col,
  .row-cols-1 > .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
 /*categories*/
.categories {
  padding: 80px 0;
  background-color: #f8f9fa; /* Light surface color */
}

.categories .section-title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ff851a;
}

.categories .section-subtitle {
  text-align: center;
  font-size: 16px;
  color: #666666;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.category-card {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.category-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
}

.category-img-wrapper {
  height: 150px;
  overflow: hidden;
}

.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.category-card:hover .category-img {
  transform: scale(1.1);
}

.category-card h3 {
  font-size: 20px;
  color: #333333;
  margin: 15px 0 10px;
}

.category-card p {
  font-size: 14px;
  color: #666666;
  margin-bottom: 15px;
}

.category-card .btn.explore-category {
  background-color: #ff851a;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.category-card .btn.explore-category:hover {
  background-color: color-mix(in srgb, #ff851a, transparent 20%);
}
/*about us*/
.about-us {
  background-color: #f9f9f9;
  padding: 60px 20px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #333;
}

.section-subtitle {
  font-size: 18px;
  color: #666;
  font-style: italic;
}

.about-img-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

.about-img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.about-img:hover {
  transform: scale(1.05);
}

.mission-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #ff851a;
  color: #fff;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.about-content .highlight {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.features li {
  font-size: 16px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  color: #333;
}

.features li i {
  font-size: 20px;
  margin-right: 10px;
  color: #ff851a;
}

.explore-btn {
  padding: 10px 25px;
  background-color: #ff851a;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.explore-btn:hover {
  background-color: #e4740c;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.small-textarea {
    height: 40px;
}
/*events*/
